<div class="mt-5 flex justified-center gap-4">
    <button mat-stroked-button (click)="getUnauthorizedError()">Trigger Unauthorized Error</button>
    <button mat-stroked-button (click)="getBadRequestError()">Trigger Bad Request Error</button>
    <button mat-stroked-button (click)="getNotFoundError()">Trigger Not Found Error</button>
    <button mat-stroked-button (click)="getInternalServerError()">Trigger Internal Error</button>
    <button mat-stroked-button (click)="getValidationError()">Trigger Validation Error</button>
</div>

@if (validationErrors){
    <div class="mx-auto max-w-lg mt-5 bg-red-100">
        <ul class="space-y-2 p-2">
            @for (error of validationErrors; track $index){
               <li class="text-red-800">{{error}}</li> 
            }
        </ul>
    </div>
}